{% extends "layout.html" %}
{% block content %}
    <h1>About</h1>
    <p>Neighbourfy is a community focused, peer-to-peer service that allows users to lend or borrow tools.
        Borrowers are required to pay a deposit amount chosen by the lender of the item which is reimbursed once the item has been returned
        and the finalisation of the transaction has been confirmed by both parties. </p>
    <br>
    <br>
    <h1>FAQs</h1>
    <ol>
    <li><b>Is there any fee to use the service?</b> <br> While Neighbourfy is strictly a not for profit service, to assist with operational/maintenance costs we plan to charge a small fee on top of transactions (soon). The relevant fee for each item will be clearly displayed and calculated on the item page.</li>
    <br>
    <li><b>I am having issues liaising with my transaction partner. What can I do to resolve the dispute?</b><br>
        <!-- We have automatic systems in place to deal with disputes. Please check your account page and follow the steps as instructed on the relevant transaction.--> If you are <!-- still --> having difficulties please contact us via email: <a href = "mailto: support@neighbourfy.com">support@neighbourfy.com</a>. </li>
    <br>
    <li><b>I am not satisfied with the outcome of my dispute. Is there any further action I can take?</b><br> Neighbourfy cannot be held responsible for the cost of the item(s) themselves. Any escalated disputes are handled by us as the intermediary and we make every attempt to resolve them in an amicable way.
        Borrowers and lenders should be weary of this before registering for the service as you are ultimately dealing directly with another member of the public. Any decisions reached by Neighbourfy once a dispute has been escalated are final.</li>
        <br>
        <li><b>I have noticed an issue with your service. How can I make you aware?</b><br> We welcome input from all our users and would love to hear more from you. We aim to make the service as streamlined as possible, however as a community service with a small development team we are understanding issues may have fallen through the cracks.
        Please email us on the above mentioned support mailbox detailing your issues and we will get back to you as soon as possible. </li>
    </ol>
{% endblock %}